.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero-widget { text-align: center; padding-top: 20px; padding-bottom: 20px; }
.hero-widget .icon { display: block; font-size: 96px; line-height: 96px; margin-bottom: 10px; text-align: center; }
.hero-widget var { display: block; height: 64px; font-size: 34px; line-height: 64px; font-style: normal; padding: 10px 10px 10px 10px; margin: 10px 10px 10px 10px; }
.hero-widget label { font-size: 17px; }
.hero-widget .options { margin-top: 10px; }

input{
  margin-right: 3px;
}

thead{
  background-color: #f9f9f9;
}
.alert{
  background-color: red;
}
#basics{
  /*background-color:  #e0e0e0;*/
}
.beta{
  font-size: 14px;
}
